.dap-breakpoints
.lsp-session-v1
anaconda-mode/
auto-save-list/
backups/
eclipse.jdt.ls/
elpa/
eshell/
ido.last
meghanada/
mspyls/
transient/
url/
network-security.data
projectile-bookmarks.eld
projectile.cache
tramp
workspace/
.cache/
